/*-- scss:defaults --*/
main {
    margin-left: -4.75em;
    margin-right: -4.75em;
    padding: 4.5em;
    border-top: 10px solid #8596ad;
    box-shadow: 0 0 8px #e8ecf3;
    background: #fff;
  }
.quarto-listing {margin-top: 1em;}
.quarto-listing-sort {
  margin-top: 2em;
}
