/*-- scss:defaults --*/
main {
    margin-left: -4.75em;
    margin-right: -4.75em;
    padding: 4.5em;
    border-top: 10px solid #e6cdc2;
    box-shadow: 0 0 8px #ccc;
    background: #fff;
  }
.quarto-listing-sort {
  margin-top: 2em;
}
